<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body bgcolor="yellow">
<h1>Welcome to Bodacious World</h1>
{#<p>#}
{#    <font title="Arial" size="10" color="orange">#}
        <form action="/process" method="get">
            <pre>
                Name        : <input name="txtname" type="text" size="20"><br><br>
                Age         : <input name="txtage" type="text" size="5"><br><br>
                Graduate    : <input name="chkgraduate" type="checkbox"><br><br>
                Salary      : <input name="txtsalary" type="text" size="20"><br><br>
                H.R.A.      : <input name="txthra" type="text" size="20"><br><br>
                T.A.        : <input name="txtta" type="text" size="20"><br><br>
                D.A.        : <input name="txtda" type="text" size="20"><br><br>
                <button type="submit">Submit</button>
            </pre>
        </form>
{#    </font>#}
{#</p>#}
</body>
</html>